<a class="flex flex-col transition duration-500" href="{{ include.place.canonical_url }}">
	<img src="{{ include.place.gallery.first }}" alt="" class="mb-4 h-48 w-full rounded-xs border-8 border-white object-cover object-center" />
	<div class="mb-4">
		<h2 class="mb-2 font-serif font-black">{% include category-icon.html slug=include.place.category class="mr-0.5" %}{{ include.place.title }}</h2>
		<p class="font-sans text-sm font-medium">{{ include.place.short_description }}</p>
	</div>
	<div class="mt-auto text-xs font-semibold">
		<ul class="flex flex-wrap gap-x-2">
			<li class="rounded-full bg-white px-2 py-1">{{ include.place.price }}</li>
			<li class="rounded-full bg-white px-2 py-1">{{ include.place.fb_type }}</li>
			<li class="rounded-full bg-white px-2 py-1">{{ include.place.neighbourhood }}</li>
		</ul>
	</div>
</a>
